@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Geometric Background (Хэрэв хэрэгтэй бол нэмэх) */
.square-card {
    border-radius: 0; /* Rounded байхгүй */
}

/* Font family override */
html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif; /* Tailwind-д шингээж удирдах */
    background-color: inherit; /* Tailwind-д удирдах */
}
